<div class="jumbotron text-center">
    <h1 class="display-3">Welcome to Idea Collector!</h1>
    <p class="lead">Save your idea</p>
    <hr class="my-4">
    <a href="/add" class="btn btn-dark btn-lg">ADD YOUR IDEA</a>
</div>