<div class="jumbotron text-center">
    <img src='static/content/image/idea.jpg'>
    <h1 class="display-3">Welcome to Idea Collector!</h1>
    <p class="lead">Save your IDEA for future</p>
    <hr class="my-4">
    <a href="/Ideas/Add" class="btn btn-dark btn-lg">ADD YOUR IDEA</a>
</div>